*{
    padding: 0;
    margin: 0;
}

.header{
    display: block;
    position: relative;
    width: 100%;
    padding: 10px;
    background-color: aqua;
    text-align: center;

}
.heading{
    text-transform: uppercase;
}
.main-heading{
    font-size: 17px;
    font-family: ui-sans-serif;
    font-style: oblique;
}
.sub-heading{
    font-size: 17px;
    font-weight: bold;
}

nav{
    margin: 15px;
    background-color: rgba(183, 209, 35, 0.603);
}

.navigation{
    text-decoration: none;
}

.navigation li{
    display: inline-block;
    text-decoration: none;
    float: left;
    padding: 15px;

}

.navigation li a:link{
    text-decoration: none;
    text-transform: uppercase;
}

.buttons{
    float: right;
    padding: 15px;

}
.buttons a{
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
   
}

nav::after{
    content: "";
    clear: both;
    display: table;
}

.main{
    border: solid;
    border-width: 0.001;
    background-color: aquamarine;
    border-radius: 100px;
    width: 70px;
}

.sub{
    border: solid;
    border-width: 0.001;
    background-color: aquamarine;
    border-radius: 100px;
    width: 70px; 
}

.main:hover{
    background-color: rgb(39, 151, 114);
    color: whitesmoke;
    animation-name: size;
    animation-duration: .1s;
}
.sub:hover{
    background-color: rgb(39, 151, 114);
    color: whitesmoke;
    animation-name: size;
    animation-duration: .1s;
    
}

@keyframes size{
    100%{
        transform: scale(1.2);
    }
}

.image{
    display: block;
    text-align: center;
}
img{
    width: 84%;
}
figcaption{
    font-size: 30px;
    font-weight: bold;
}
.bio{
    margin: 30px;
}
.time-line{
    margin: 30px;
}
h3,h4{
    text-transform: capitalize;
}
    
.achievement{
    margin: 30px;

}  

#quotes{
    margin: 30px;
    text-transform: capitalize;
}
#quotes p{
    font-weight: bold;
}
.contact{
    margin: 30px;   
}
#whatsapp{
    height: 43px;
    width: 44px;
    margin-right: 63px;
}
#insta{
    height: 44px;
    width: 43px;
}

.sos{
    display: block;
    margin-left: 45%;
}
    
.contact img{
    display: inline-block;
    text-align: center;
}
